# ignore virtual environment setup
venv/

# ignore claude planning
planning/

# ignore Python cache
__pycache__/

# ignore test text files
*.txt

*/.DS_Store


# Added by cargo

/target

.claude/


CLAUDE.md